.recipe__list {
  display: grid;
  grid-gap: var(--space10);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding: var(--space30);
}

.recipe {
  position: relative;
  display: flex;
  margin-bottom: var(--space8);
  padding: var(--space8);
}

.recipe__image {
  position: relative;
  width: 250px;
  height: 250px;
}

.recipe__wrapper {
  position: absolute;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
}

.recipe__link {
  text-decoration: none;
  color: var(--white);
  padding: 4px 8px;
  background: var(--dark-grey);
  border: 2px solid var(--white);
}

.recipe__link:hover {
  color: var(--orange);
}
