.recipe {
  border: var(--space1) solid var(--white);
  margin-bottom: var(--space8);
  padding: var(--space8);
  width: 600px;
}

.recipe__title {
  font-size: var(--font-size-l);
}

.recipe__image {
  position: relative;
  height: 400px;
  width: 100%;
}
