.recipe {
  margin: 0 auto var(--space40);
  width: 50em;
  border: var(--space1) solid var(--white);
  padding: var(--space8);
}

.recipe__title {
  font-size: var(--font-size-l);
}

.recipe__image {
  position: relative;
  height: 700px;
  width: 100%;
}

.recipe__video {
  display: flex;
  justify-content: center;
  margin-top: var(--space20);
}
