/* 32 * 16 = 512 */
@custom-media --media-s screen and (min-width: 32em);
/* 40 * 16 = 640 */
@custom-media --media-m screen and (min-width: 40em);
/* 52 * 16 = 832 */
@custom-media --media-l screen and (min-width: 52em);
/* 64 * 16 = 1024 */
@custom-media --media-xl screen and (min-width: 64em);

:root {
  --black: #000;
  --white: #fff;
  --orange: #ffa500;
  --light-grey: #d8d8d8;
  --dark-grey: #797979;

  --spacen40: -2.5rem;/* -40px */
  --spacen33: -2.0625rem;/* -33px */
  --spacen20: -1.25rem;/* -20px */
  --spacen8: -0.5rem;/* -8px */
  --spacen6: -0.375rem;/* -6px */
  --spacen4: -0.25rem;/* -4px */
  --spacen2: -0.125rem;/* -2px */
  --spacen1: -0.0625rem;/* -1px */
  --space0: 0;
  --space1: 0.0625rem;/* 1px */
  --space2: 0.125rem;/* 2px */
  --space4: 0.25rem;/* 4px */
  --space6: 0.375rem;/* 6px */
  --space8: 0.5rem;/* 8px */
  --space10: 0.625rem;/* 10px */
  --space12: 0.75rem;/* 12px */
  --space16: 1rem;/* 16px */
  --space20: 1.25rem;/* 20px */
  --space22: 1.375rem;/* 22px */
  --space24: 1.5rem;/* 24px */
  --space28: 1.75rem;/* 28px */
  --space30: 1.875rem;/* 30px */
  --space32: 2rem;/* 32px */
  --space33: 2.0625;/* 33px */
  --space36: 2.25rem;/* 36px */
  --space40: 2.5rem;/* 40px */
  --space50: 3.125rem;/* 50px */
  --space60: 3.75rem;/* 60px */
  --space70: 4.375rem;/* 70px */
  --space80: 5rem;/* 80px */
  --space90: 5.625rem;/* 90px */

  --max-width-xxs: 18.75rem;/* 300px */
  --max-width-xs: 25rem;/* 400px */
  --max-width-s: 42rem;/* 672px */
  --max-width-m: 56.5625rem;/* 905px */
  --max-width-l: 64rem;/* 1024 */
  --max-width-xl: 77rem;/* 1232px */
  --max-width-xxl: 90rem;/* 1440px */

  --font-size-xxs: 0.625rem;/* 10px */
  --font-size-xs: 0.75rem;/* 12px */
  --font-size-s: 0.875rem;/* 14px */
  --font-size-base: 1rem;/* 16px */
  --font-size-m: 1.125rem;/* 18px */
  --font-size-l: 1.5rem;/* 24px */
  --font-size-xl: 2rem;/* 32px */
  --font-size-xxl: 2.5rem;/* 40px */

  --letter-spacing: 0.02rem;
}
